.img-raised {
    @include box-shadow(0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2));
}

.avatar {
	max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
    img {
	    border-radius: 50%;
	    width: 150px;
    }
}

