<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Login &amp; Register Templates</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker|Material+Icons" rel="stylesheet">

  <!-- Main CSS -->
  <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/css/snow-ui-kit.css" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/ico/favicon.png" />

  <!-- DEMO CSS -->
  <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/css/demo.css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
<!--   <link rel="shortcut icon" href="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/ico/apple-touch-icon-57-precomposed.png"> -->
  <style>

      .fill { 
        min-height: 100%;
        height: 100%;
      }   

      html, body {
        height: 100%;
        background: -moz-linear-gradient(bottom,  #11e8bb 0%, #8200c9 90%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom,  #11e8bb 0%,#8200c9 90%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top,  #11e8bb 0%,#8200c9 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }

      .fsl {
        color: #fff !important;
      }

      img {
      border-radius: 50%;
      border: solid 1px #cde;
      padding:3px;
    }

  </style>
</head>
<body>
<!-- <script src="https://s3.us-east-2.amazonaws.com/commitwebapp/fblogin.js"></script>
 -->

<!-- Javascript -->

<script src="{{ url_for('static', filename='js/fblogin.js') }}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/fancyassets/bootstrap/js/bootstrap.min.js"></script> -->
<!-- Core JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/js/core/popper.min.js"></script>
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/js/core/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/js/plugins/parallax.js"></script>
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/js/plugins/bootstrap-datepicker.min.js"></script>
<!-- Snow UI JS -->
<script src="https://s3.us-east-2.amazonaws.com/commitwebapp/snowassets/js/snow-ui-kit.js"></script>

<!-- <div id="status"></div> -->

<!-- Top content -->

  <section id="typography" class="section" style="height: 100%;width:100%;display: flex;align-items: center;justify-content: center;">
    <div class="container" style="height:100%;padding:0 15px;margin: 0px;display: flex;align-items: center;justify-content: center;">

      <div style="height:100%">

        <div class="row" style="margin:0;text-align: center;">
          <h1 style="color:#fff">Jared has invited you to...</h1>
        </div>

        <div class="row" style="display: flex;justify-content: center;padding:15px;margin:0px;">
          <img src="https://scontent.fbed1-1.fna.fbcdn.net/v/t1.0-1/c2.8.100.100/p111x111/21430497_10210966438579481_2655904693146443291_n.jpg?oh=28249c41da47cd756b637a972d48d6bd&oe=5A790C6A">
        </div>

        <div class="row" style="display: flex;justify-content: center;padding:0;margin:0px;">
          <h1 style="font-size: 3.3rem; color:#fff">COMM!T</h1>
        </div>

        <div class="row" style="margin:0;text-align: center; padding: 25px 0">

            <h3 style="color:#fff; width:100%">...to vote on Nov. 7th</h3>
            <h3 style="color:#fff">You Write it, We Post it, Friends See it</h3>

        </div>

        <div class="row" style="margin:0;padding:0;width: 100%;display: flex;justify-content: center;align-items: center;">
            <div 
              id="spinner" 
              style="
                  background: #4267b2;
                  border-radius: 5px;
                  color: white;
                  height: 40px;
                  text-align: center;
                  width: 280px;
                  margin-top:0px;
                  display: flex;
                  justify-content: center;
                  padding:0;
                  ">
              Loading
              <div
              class="fb-login-button btn" 
              data-max-rows="1" 
              data-size="large" 
              data-width="280"
              data-button-type="continue_with" 
              data-show-faces="true" 
              data-use-continue-as="false" 
              data-scope="public_profile, publish_actions, user_posts, user_friends"
              onlogin="checkLoginState();" 
              style="margin-top:20px;">                  
              </div>
            </div>
        </div>

      </div>

    </div>
  </section>

</body>
</html>