<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url" content="https://commit.vote" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="COMM!T" />
    <meta property="og:description" content="COMM!T let's friends help friends follow through" />
    <meta property="og:image" content="https://commitweb.herokuapp.com/static/img/vjday.jpg" />

    <link rel="icon" type="image/png" href="../static/now/assets/img/favicon.png">

    <link rel="apple-touch-icon" sizes="76x76" href="../static/now/assets/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>COMM!T</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../static/now/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/now/assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/now/assets/css/demo.css" rel="stylesheet" />
    <style>
      @media screen and (max-width: 576px) {
        .footer nav {
          width: 100%;
          text-align: center;
        }
        .footer.copyright {
          width: 100%;
          text-align: center;
        }
        .footer {
          padding: 2% 0;
        }
      }

      .footer.copyright {
        text-align: right;
      }

      .page-header[filter-color="redblue"] {
        background: rgba(44, 44, 44, 0.2);
        background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: linear-gradient(0deg, rgba(255, 50, 100, 0.8), rgba(10, 50, 255, 0.8));
      }

      .page-header[filter-color="orange"] {
        background: rgba(44, 44, 44, 0.2);
        background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        background: linear-gradient(15deg, rgba(4, 24, 234, 0.2), rgba(224, 23, 3, 0.7));
      }

      .form-control {
        background-color: rgba(255, 255, 255, 0.3);
      }

      .input-group-focus input {
        background-color: rgba(255, 255, 255, 0.3);
      }
    </style>
  </head>


  <body class="login-page sidebar-collapse" style="height:100%">
    <script src="{{ url_for('static', filename='js/fblogin.js') }}"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='js/glogin.js') }}"></script> -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="#" rel="tooltip" title="Designed and coded by Jared and Jim" data-placement="bottom" target="_blank">
                    COMM!T
                </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
        </div>
        <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../static/now/assets/img/blurred-image-1.jpg"> -->
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../static/img/selmaskyblur.jpg">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Back to COMM!T</a>
                    </li> -->
            <li class="nav-item">
              <a class="nav-link" href="mailto:jmoffet@mit.edu">Have an issue?</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="page-header" filter-color="orange" style="min-height:650px">
      <div class="page-header-image" style="background-image:url(../static/img/selmasky.jpg);background-position: 30% bottom;"></div>
      <div class="container">
        <div class="col-md-4 content-center" style="margin-top:20px">
          <div class="card card-login card-plain">
            <form class="form" method="" action="" >
              <div class="header text-center">
                <h1 class="title title-up">COMM!T</h1>
                <h2>Vote Nov. 7th</h2>
                <h2><small>How should we remind you to check in?</small></h2>
                <div class="social-line" style="margin-bottom:30px">

                  <!-- <a href="#pablo" style="opacity: 0.9;margin:0 7px;" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>

                  <a href="#pablo" style="opacity: 0.9;margin:0 7px;" class="btn btn-neutral btn-google btn-icon btn-lg btn-round">

                                    <i class="fa fa-google-plus"></i>
                                </a> -->
                  <a href="#pablo" style="opacity: 0.9;margin:0 7px;" class="btn btn-neutral btn-facebook btn-icon btn-lg btn-round" onclick="fbLogin({{refcode}})">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                </div>
              </div>
              <div class="content">

                <div id="emailparent" class="input-group form-group-no-border input-lg">
                  <span class="input-group-addon" style="background-color: rgba(255,255,255,0.2);">
                                    <i class="now-ui-icons ui-1_email-85" ></i>
                                </span>
                  <input type="text" id="email" class="form-control" style="background-color: rgba(255,255,255,0.2);" placeholder="EMAIL...">
                </div>
                <!-- Bring Back with Javascript -->
                <div class="input-group form-group-no-border input-lg" id="emailnameinput" style="display:none">
                  <span class="input-group-addon" style="background-color: rgba(255,255,255,0.2);">
                                        <i class="now-ui-icons text_caps-small"></i>
                                    </span>
                  <input type="text" id="emailname" name="emailname" style="background-color: rgba(255,255,255,0.2);" placeholder="Name..." class="form-control" />
                </div>
                <div id="smsparent" class="input-group form-group-no-border input-lg">
                  <span class="input-group-addon" style="background-color: rgba(255,255,255,0.2);">
                                    <i class="now-ui-icons ui-1_bell-53" ></i>
                                </span>
                  <input type="text" id="sms" class="form-control" style="background-color: rgba(255,255,255,0.2);" placeholder="SMS...">
                </div>
                <!-- Bring Back with Javascript -->
                <div class="input-group form-group-no-border input-lg" id="smsnameinput" style="display:none">
                  <span class="input-group-addon" style="background-color: rgba(255,255,255,0.2);">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                  <input type="text" id="smsname" name="smsname" style="background-color: rgba(255,255,255,0.2);" placeholder="Name..." class="form-control" />
                </div>
                <!-- <a class="btn btn-primary btn-round" href="/commit/{{refcode}}A{{current_user}}" style="width: 320px;height: 46px;opacity: 0.9;text-align: left; font-size:12px;padding-top:15px">
                                <i class="now-ui-icons business_badge"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DEBUG PASSTHROUGH LOGIN...
                            </a> -->

              </div>
              <!-- <div class="footer text-center">
                            <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                        </div> -->
              <!-- <div class="pull-left">
                            <h6>
                                <a href="#pablo" class="link">Create Account</a>
                            </h6>
                        </div> -->
              <div class="pull-right">
                <h6>
                                <a href="mailto:jmoffet@mit.edu" class="link">Need Help?</a>
                            </h6>
              </div>
            </form>
          </div>



        </div>



      </div>

      <footer class="footer">
        <div class="container">
          <nav>
            <ul>
              <li>
                <a href="http://viral.media.mit.edu/">
                                MIT Media Lab
                            </a>
              </li>
              <li>
              </li>
            </ul>
          </nav>
          <div class="copyright">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Designed and Coded by
            <a href="http://www.jared-johnson.com" target="_blank">Jared</a> and
            <a href="https://www.jamesdavidmoffet.com" target="_blank">Jim</a>.
          </div>
        </div>
      </footer>

    </div>
    <script>
      var name = '';
      var email = '';
      var phone = '';
      var fbId = '';
      var twId = '';
      var fbToken = '';
      var twToken = '';
      var referringUser = 0;
      referringUser = {{refcode}};

      document.getElementById("email")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          document.querySelector("#smsparent").setAttribute('style', 'display: none;');
          }
        );
      document.getElementById("sms")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          document.querySelector("#emailparent").setAttribute('style', 'display: none;');
          }
        );
      document.getElementById("email")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          const mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          email = document.getElementById("email").value;
          if (event.keyCode === 13 && email.match(mailformat)) {
            console.log('triggered on enter key');
            email = document.getElementById("email").value;
            // this.value??
            document.getElementById("emailnameinput").setAttribute("style", "display: flex;");
            document.querySelector("[name='emailname']").focus();
          }
        });
      document.getElementById("sms")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          const phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
          phone = document.getElementById("sms").value;
          if (event.keyCode === 13 && phone.match(phoneno)) {
            phone = document.getElementById("sms").value;
            console.log('triggered on enter key');
            document.getElementById("smsnameinput").setAttribute("style", "display: flex;");
            document.querySelector("[name='smsname']").focus();
          }
        });
      document.getElementById("emailname")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            name = document.getElementById("emailname").value;
            console.log('triggered on enter key');
            postUser();
          }
        });
      document.getElementById("smsname")
        .addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            name = document.getElementById("smsname").value;
            console.log('triggered on enter key');
            postUser();
          }
        });

      let userId = 'steven';
      function postUser() {
        $.ajax({
          url: '/createuser',
          data: JSON.stringify({
            "name": name,
            "email": email,
            "phone": phone,
            "fbId": fbId,
            "twId": twId,
            "fbToken": fbToken,
            "twToken": twToken,
            "referringUser": referringUser
          }),
          dataType: 'json',
          contentType: "application/json",
          type: 'POST',
          success: function(response) {
            console.log(response);
            userId = response;
            window.location = "/commit/{{refcode}}A" + userId;
          },
          error: function(error) {
            console.log(error);
          }
        });
        console.log(`${userId} printed from ajax call`);
      }
    </script>
  </body>
  <!--   Core JS Files   -->
  <script src="../static/now/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
  <script src="../static/now/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/now/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../static/now/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/now/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../static/now/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="../static/now/assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>

</html>
